@import './../../shared/shared-styles.scss';


/* ABOUT SECTION */

#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }

  @media screen and (max-width: 1400px) {
    .about-containers {
        flex-wrap: wrap;
      }
  }

  @media screen and (max-width: 1200px) {
    .section-container {
        display: block;
      } 

      section,
      .section-container {
        height: fit-content;
      }
      section {
        margin: 0 5%;
      }
      .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
      }
      .about-containers {
        margin-top: 0;
      }
  }

  @media screen and (max-width: 600px) {

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
      }
      .section__text__p2 {
        font-size: 1.25rem;
      }

      .title {
        font-size: 2rem;
      }
      .text-container {
        text-align: justify;
      }

  }