
  <nav>
    <div class="nav-links-container">
      <ul class="nav-links">
        <li><a aria-label="Section about" href="#about">About</a></li>
        <li>
          <a aria-label="Section experience" href="#experience">Experience</a>
        </li>
        <li><a aria-label="Section projects" href="#projects">Projects</a></li>
        <li><a aria-label="Section contact" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <p>Copyright &#169; {{ year }} André Souza. All Rights Reserved.</p>

