.language-selector {
  display: flex;
  align-items: center;
  text-align: center;
}

.custom-select {
  font-size: 1.5rem;
  padding-right: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-select .dropdown {
  display: none;
  position: absolute;
  opacity: 90%;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-select .dropdown.show {
  display: block;
}

.custom-select .dropdown div {
  padding: 8px;
  border-bottom: 1px solid var(--white);
}

.custom-select .dropdown div:last-child {
  border-bottom: none;
}

.custom-select .dropdown div:hover {
  background-color: #f4f4f4;
}
