<nav id="desktop-nav">
  <button class="toggle-mode-btn" (click)="toggleDarkMode()">
    <div [hidden]="isDarkMode">
      <svg
        alt="Dark Mode Icon"
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
        viewBox="0 0 512 512"
        fill="var(--black)"
      >
        <path
          d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
        />
      </svg>
    </div>
    <!-- <img src="./../../../assets/moon-outline.svg" alt="Dark Theme" class="icon" [hidden]="isDarkMode"> -->
    <div [hidden]="!isDarkMode">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
        viewBox="0 0 512 512"
        fill="var(--black)"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94"
        />
        <circle
          cx="256"
          cy="256"
          r="80"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
        />
      </svg>
    </div>

    <!--  <img src="./../../../assets/sunny-outline.svg" alt="Light Theme" class="icon" [hidden]="!isDarkMode"> 
  --></button>

  <div class="logo">André Souza</div>
  <div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>
<nav id="hamburger-nav">
  <div class="logo">André Souza</div>
  <div class="hamburger-menu">
    <div class="hamburger-icon" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links">
      <li><a href="#about" (click)="toggleMenu()">About</a></li>
      <li><a href="#experience" (click)="toggleMenu()">Experience</a></li>
      <li><a href="#projects" (click)="toggleMenu()">Projects</a></li>
      <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
      <li>
        <button class="toggle-mode-btn" (click)="toggleDarkMode()">
          <img
            src="./../../../assets/moon-outline.svg"
            alt="Dark Theme"
            class="icon"
            [hidden]="isDarkMode"
          />
          <img
            src="./../../../assets/sunny-outline.svg"
            alt="Light Theme"
            class="icon"
            [hidden]="!isDarkMode"
          />
        </button>
      </li>
    </div>
  </div>
</nav>
