/* GENERAL */

* {
  margin: 0;
  padding: 0;
  transition: all 300ms ease; /* Adicionado transição para todos os elementos */
}
/* 
:root {
  font-family: "Poppins", sans-serif;
  --text-color: rgb(85, 85, 85);
  --dark-background: #333;
  --light-text: #fff;
  --dark-text: #333;
  --link-color: black;
  --link-hover-color: #666;
  --btn-background: transparent;
  --btn-color: #333;
  --btn-hover-color: #666;
  --hamburger-background: white;
  --hamburger-icon-color: black;
  --section-padding: 4vh;
  --section-margin: 0 10rem;
  --profile-height: 80vh;
  --icon-color: black;
  --btn-font-weight: 600;
  --btn-padding: 1rem;
  --btn-width: 8rem;
  --btn-border-radius: 2rem;
} */

html {
  scroll-behavior: smooth;
  background-color: var(--light-background); /* Definir cor de fundo padrão */
  color: var(--text-color); /* Definir cor de texto padrão */
}

body {
  background-color: var(--light-background); /* Definir cor de fundo padrão */
  color: var(--text-color); /* Definir cor de texto padrão */
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
/* 
// DARK MODE 

body.dark-mode {
  background-color: var(--dark-background);
  color: var(--light-text);
}

body.dark-mode * {
  color: var(--light-text); // Alterar cor de todos os elementos para o texto claro
}

body.dark-mode  h3 {
  color: var(-text-color);
}

body.dark-mode a {
  color: var(--light-text);
  text-decoration-color: var(--light-text);
}

// Botão de Alternância de Modo 

.toggle-mode-btn {
  background-color: var(--btn-background);
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--btn-color);
  align-items: center;
}

.toggle-mode-btn:focus {
  outline: none;
}

.toggle-mode-btn .icon {
  transition: color 0.3s ease-in-out;
}

.toggle-mode-btn:hover .icon {
  color: var(--btn-hover-color);
}
 */
/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--hamburger-icon-color);
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--hamburger-background);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  opacity: 70%;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  text-align: center;
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: var(--section-padding);
  height: 96vh;
  margin: var(--section-margin);
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: var(--profile-height);
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: var(--btn-font-weight);
  transition: all 300ms ease;
  padding: var(--btn-padding);
  width: var(--btn-width);
  border-radius: var(--btn-border-radius);
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
