<section id="projects">
  <p class="section__text__p1">Browse My Recent</p>
  <h1 class="title">Projects</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container color-container">
        <div class="article-container">
          <img
            src="./assets/coletorfacil.webp"
            alt="Banner App Coletor Fácil"
            class="project-img"
          />
        </div>
        <h2 class="experience-sub-title project-title">Coletor Fácil</h2>
        <div class="btn-container">
          <button class="btn btn-color-2" (click)="openUrl(0)">
            PlayStore
          </button>
          <button class="btn btn-color-1" routerlink="/details/1">
            Details
          </button>
        </div>
      </div>
      <div class="details-container color-container">
        <div class="article-container">
          <img
            src="./assets/aasoftware.webp"
            alt="Banner AASoftware"
            class="project-img"
          />
        </div>
        <h2 class="experience-sub-title project-title">AASoftware</h2>
        <div class="btn-container">
          <button class="btn btn-color-2 project-btn" (click)="openUrl(1)">
            Site
          </button>
          <button
            class="btn btn-color-1"
            onclick="location.href='https://github.com/'"
          >
            Details
          </button>
        </div>
      </div>
      <div class="details-container color-container">
        <div class="article-container">
          <img
            src="./assets/desmembradorPost.webp"
            alt="Project 3"
            class="project-img"
          />
        </div>
        <h2 class="experience-sub-title project-title">Desmembrador</h2>
        <div class="btn-container">
          <button class="btn btn-color-2 project-btn" (click)="openUrl(2)">
            Github
          </button>
          <button
            class="btn btn-color-1"
            onclick="location.href='https://github.com/'"
          >
            Details
          </button>
        </div>
      </div>
      <div class="details-container color-container">
        <div class="article-container">
          <img
            src="./assets/portfolio.webp"
            alt="Project 3"
            class="project-img"
          />
        </div>
        <h2 class="experience-sub-title project-title">Portfolio</h2>
        <div class="btn-container">
          <button class="btn btn-color-2 project-btn" (click)="openUrl(3)">
            Github
          </button>
          <button
            class="btn btn-color-1"
            onclick="location.href='https://github.com/'"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
  <svg
    alt="Arrow icon"
    class="icon arrow"
    onclick="location.href='./#contact'"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 448 512"
    fill="var(--black)"
  >
    <path
      d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"
    />
  </svg>
</section>
