<section id="profile">
  <div class="section__pic-container">
    <img
      fetchpriority="high"
      src="./assets/profile.webp"
      alt="{{ 'ANDRE_SOUZA' | translate }} {{ 'PROFILE_PICTURE' | translate }}"
    />
  </div>
  <div class="section__text">
    <p class="section__text__p1">{{ 'HELLO_IM' | translate }}</p>
    <h1 class="title">{{ 'ANDRE_SOUZA' | translate }}</h1>
    <p class="section__text__p2">{{ 'FULL_STACK_DEVELOPER' | translate }}</p>
    <div class="btn-container">
      <button
      [attr.aria-label]=" 'DOWNLOAD_CV' | translate "
        class="btn btn-color-2"
        (click)="downloadCV()"
      >
        {{ 'DOWNLOAD_CV' | translate }}
      </button>
      <button
        aria-label=" 'CONTACT_ME' | translate "
        class="btn btn-color-1"
        (click)="openContact()"
      >
        {{ 'CONTACT_ME' | translate }}
      </button>
    </div>
    <div id="socials-container">
      <svg
        (click)="openLinkedIn()"
        [attr.aria-label]=" 'MY_LINKEDIN_PROFILE' | translate "
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        fill="var(--black)"
      >
        <!-- LinkedIn Icon SVG -->
      </svg>
      <svg
        (click)="openGithub()"
        [attr.aria-label]="'MY_GITHUB_PROFILE' | translate "
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 496 512"
        fill="var(--black)"
      >
        <!-- Github Icon SVG -->
      </svg>
    </div>
  </div>
</section>
