#experience {
  animation: reveal 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

@keyframes reveal {
  from {
    opacity: 0; /* Começa invisível */
  }
  to {
    opacity: 1; /* Termina visível */
  }
}

.front-end,
p {
  animation: fly-in-front linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 20%;
}
@keyframes fly-in-front {
  from {
    opacity: 0;
    transform: translateX(-500px); /* Starts 100px below viewport */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Ends at original position */
  }
}

.back-end,
h1 {
  animation: fly-in-back linear both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 20%;
}
@keyframes fly-in-back {
  from {
    opacity: 0;
    transform: translateX(500px); /* Starts 100px below viewport */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Ends at original position */
  }
}
